/* GLOBAL STYLES
-------------------------------------------------- */


/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  /*color: #rgb(255, 255, 255)*/
  color: #5a5a5a;
  font-family: raleway;
}










/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

.name {
  font-size: 30px;
  color: white;
  margin-right: 50px;
  padding-top: 10px;
}

.name a {
  color: white;
  text-decoration: none;
}

.navbar>.container>.navbar-collapse>.nav>li>a {
  color: #5a5a5a;
}

.navbar-wrapper {
  font-size: 14px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}


.navbar {
  padding-right: 40px;
}

.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}

.navbar-wrapper .navbar .container {
  width: auto;
}

.nav-item {
  text-align: center;
  font-size: 16px;
}

.bannerContainer {
  background-color: #51B9D3;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 30px;
  position: relative;
}








/* Home Section
-------------------------------------------------- */

.homeTextWrap {
  margin-right: 12px;
  position: fixed;
  top: 52%;
  -webkit-transform: translateY(-52%);
  -moz-transform: translateY(-52%);
  -ms-transform: translateY(-52%);
  -o-transform: translateY(-52%);
  transform: translateY(-52%);
}

.homeText {
  font-size: 18px;
}








/* About Section
-------------------------------------------------- */

.aboutText {
  font-size: 18px;
}

.aboutPic {
  border-radius: 10px;
}




/* VariChill Section
-------------------------------------------------- */

.nav-link {
  color: black;
  text-decoration: none;
}

.picHolder {
  
}





/* Social Media */

.social-media {
  width: 32px;
  height: 32px;
}

@media(max-width: 450px) {
  .name {
    font-size: 25px;
    margin-top: 15px;
  }

  .bannerContainer {
    background-color: #51B9D3;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}